body {
  margin: 0;
  padding: 0;
  font: 700 1rem "楷体";
}

.game {
  width: 560px;
  margin: 5px auto;
}

.game div:nth-child(2) {
  display: flexbox;
}

.game button, .game input {
  border-radius: 7.5px;
  inline-size: auto
}

.game input {
  width: 40px;
  text-align: center;
}

@keyframes run {
  0% {
    background: linear-gradient(0deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  }
  12.5% {
    background: linear-gradient(45deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  }
  25% {
    background: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  }
  37.5% {
    background: linear-gradient(135deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  }
  50% {
    background: linear-gradient(180deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  }
  62.5% {
    background: linear-gradient(225deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  }
  75% {
    background: linear-gradient(270deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  }
  87.5% {
    background: linear-gradient(315deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  }
  100% {
    background: linear-gradient(360deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  }
}

.game button {
  width: 85.674px;
  font: 700 1rem "楷体";
}

.game button:hover {
  color: #444;
  animation: run 2s infinite;
}

.game button:active{
  color: #fff;
  background: #000;
  animation: none;
}

.game :nth-child(4) {
  margin-left: 0;
}

#msg:hover{
  color: coral;
}